<web-app>

    <servlet>
        <servlet-name>RedirectCallback</servlet-name>
        <servlet-class>com.auth0.Auth0ServletCallback</servlet-class>
        <init-param>
            <param-name>auth0.redirect_on_success</param-name>
            <param-value>/build</param-value>
        </init-param>
        <init-param>
            <param-name>auth0.redirect_on_error</param-name>
            <param-value>/</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.auth0.example.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.auth0.example.LogoutServlet</servlet-class>
        <init-param>
            <param-name>onLogoutRedirectTo</param-name>
            <param-value>/#signup</param-value>
        </init-param>
    </servlet>

    <context-param>
        <param-name>auth0.domain</param-name>
        <param-value>build-ai.auth0.com</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.issuer</param-name>
        <param-value>https://build-ai.auth0.com/</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.client_id</param-name>
        <param-value>EGVKBJw9qleGaViwHlH7tqv5M3AsJQ8E</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.signing_algorithm</param-name>
        <param-value>HS256</param-value>
        <!--<param-value>RS256</param-value>-->
    </context-param>

    <context-param>
        <param-name>auth0.client_secret</param-name>
        <param-value>qt2iC-EapmNyGtChESDGovzlIgnCWEHeuUjXVXfBuUv8JG1razc1avRlaPO09RCd</param-value>
    </context-param>
</web-app>